Source: ros-kinetic-pr2-calibration
Section: misc
Priority: extra
Maintainer: Dave Feil-Seifer <dave@cse.unr.edu>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-pr2-calibration
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-dense-laser-assembler, ros-kinetic-laser-joint-processor, ros-kinetic-laser-joint-projector, ros-kinetic-pr2-calibration-launch, ros-kinetic-pr2-dense-laser-snapshotter, ros-kinetic-pr2-se-calibration-launch
Description: The pr2_calibration package
